.THIS .issue-creation-footer .modal-button {
    border-radius: 0.25rem;
}

.THIS .jira-spinner {
    background-color: transparent;
}

.THIS .jira-spinner .slds-spinner {
    position: fixed;
}

.THIS .border-right-1 {
    border-right: 1px solid #dddbda;
}

.THIS .font-size-12 {
    font-size: 12px;
}

.THIS .modal-content {
    min-height: 27rem;
}

.THIS .right-margin-1 .slds-form-element__label {
    margin-right: 1rem;
}

.THIS .right-margin-1-1 .slds-form-element__label {
    margin-right: 1.1rem;
}